<section class="contact-area" id="contact">
  <div class="contact-form-area section-padding gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="area-title text-center">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
                {{successMsg}}
              </div>
            </div>
            <h1>Your Sharwama Order History</h1>
            <br><br>

          </div>
        </div>
      </div>
      {{# each orders}}
      <div class="row">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Type Of Shawarma</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>

            </tr>
          </thead>
          <tbody>
            {{# each this.items}}
            <tr>
              <td>{{ this.item.title}}</td>
              <td>{{this.qty}}</td>
              <td> <strike>N</strike> {{this.price}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
          <p class="btn btn-success"><strong>Payment Id: {{ this.paymentId }}</strong> </p>
        </div>
        <div class="col-md-3 ">
          <p class="btn btn-success">Total Price:<strong> <strike>N</strike> {{ this.cart.totalPrice }}</strong> </p>
        </div>
        <br><br><br> <br><br>

        {{/each}}

      </div>
      
    </div>
    
  </div>
  
</section>